<footer class="page-footer text-white footer-links">

    <!-- Footer Links -->
    <div class="container pb-4">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-6 col-md-3 mx-auto pt-4">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">information</h5>

                <ul class="list-unstyled footer-column">
                    <li class="pt-1">
                        <a class="text-light" href="#!">About us</a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!">Privacy
                        </a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!"> Conditions</a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!">Online support</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-6 col-md-3 mx-auto pt-4">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">my account</h5>

                <ul class="list-unstyled footer-column">
                    <li class="pt-1">
                        <a class="text-light" href="#!">Login</a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!">My Cart</a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!">Wishlist</a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!">Checkout</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-6 col-md-3 mx-auto footer-column pt-4">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">information</h5>

                <ul class="list-unstyled">
                    <li class="pt-1">
                        <a class="text-light" href="#!">Specials</a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!">New Products</a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!">Best Sellers</a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!">Our Stores</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-6 col-md-3 mx-auto footer-column pt-4">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">orders</h5>

                <ul class="list-unstyled">
                    <li class="pt-1">
                        <a class="text-light" href="#!">Payment options</a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!">Shipping and delivery</a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!">Returns</a>
                    </li>
                    <li class="pt-1">
                        <a class="text-light" href="#!">Shipping</a>
                    </li>
                    <ul class="list-unstyled d-flex flex-wrap mt-4">
                        <li class="mr-1"><img src="./img/cards/blue-card.png" alt=""></li>
                        <li class="mr-1"><img src="./img/cards/dacover.png" alt=""></li>
                        <li class="mr-1"><img src="./img/cards/master-card.png" alt=""></li>
                        <li class="mr-1"><img src="./img/cards/paypal.png" alt=""></li>
                        <li class="mr-1"><img src="./img/cards/visa.png" alt=""></li>
                    </ul>


                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
</footer>
<footer class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center col-md-6 py-4">
                <p class="footer-copyright text-center">©Copyright 2016 Bazar |
                    <a class="rights" href="#">All Rights Reserved</a>
                </p>
            </div>
            <div class="col-12 text-center col-md-6 py-4 footer-icon">

                <!-- Twitter -->
                <a class="tw-ic">
                    <i class="fab fa-twitter fa-lg white-text mr-md-5 fa-2x"> </i>
                </a>
                <!-- Facebook -->
                <a class="fb-ic">
                    <i class="fab fa-facebook-f fa-lg dark-text mr-md-5 fa-2x"> </i>
                </a>
                <!--Youtube-->
                <a class="youtube-ic">
                    <i class="fab fa-youtube fa-lg white-text mr-md-5 fa-2x"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                    <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 fa-2x"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                    <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 fa-2x"> </i>
                </a>
                <!--Pinterest-->
                <a class="pin-ic">
                    <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                </a>

            </div>
        </div>
    </div>
</footer>