<nav class="navbar navbar-expand bg-dark navbar-dark text-white">
    <div class="container">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <p class="nav-link text-uppercase text-white px-0 mr-4">usd</p>
            </li>
            <li class="nav-item">
                <p class="nav-link text-capitalize text-white  px-0 mr-4">English</p>
            </li>
            <li class="nav-item">
                <a class="nav-link text-capitalize text-white text-underline px-0 mr-4" href="#">help</a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <i class="fas fa-user-alt fa-sm pt-2 pr-1"></i>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-capitalize text-white text-underline px-0 mr-4" data-toggle="modal" data-target="#loginForm">login</a>
            </li>
            <li class="nav-item">
                <i class="fas fa-lock fa-sm pt-2 pr-1"></i>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-capitalize text-white text-underline px-0 mr-4" data-toggle="modal" data-target="#registerForm">register</a>
            </li>
        </ul>

    </div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="loginForm">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header border-bottom-0">
                <h4 class="modal-title text-uppercase font-weight-bold text-modal-header">login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;
<!--                    <span aria-hidden="true">&times;</span>-->
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-modal-body" >

                <form action="/">
                    <div class="form-group">
                        <input type="email" class="form-control" required placeholder="Name/Email*">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" required placeholder="Password*">
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0 justify-content-start">
                <button type="button" class="btn btn-dark text-uppercase px-4 " data-dismiss="modal">login</button>
            </div>

        </div>
    </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="registerForm">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header border-bottom-0">
                <h4 class="modal-title text-uppercase font-weight-bold text-modal-header">registration</h4>
                <button type="button" class="close " data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-modal-body" >
                <form action="/">
                    <div class="form-group">
                        <input type="email" class="form-control" required placeholder="Name*">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" required placeholder="Email*">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" required placeholder="Password*">
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-top-0 justify-content-start">
                <button type="button" class="btn btn-dark text-uppercase px-4 " data-dismiss="modal">register</button>
            </div>

        </div>
    </div>
</div>