<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="">
                <h3 class="h3 text-uppercase product-title">furniture</h3>
                <div class="d-xl-none border p-1 products-filter"><i class="fas fa-th-list mr-2"></i>Filters by
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9 products-block">
            <div class="row flex-wrap mt-4 products-block-part">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/1.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/2.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/3.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-wrap mt-4 products-block-part">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/4.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/5.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/6.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-wrap mt-4 products-block-part">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/7.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/8.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/9.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-wrap mt-4 products-block-part">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/10.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/11.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/12.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-wrap mt-4 products-block-part">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/13.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/14.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/15.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-wrap mt-4 products-block-part">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/16.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/17.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/18.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-wrap my-4 products-block-part">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/19.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4">
                    <div class="product-grid mt-2">
                        <div class="product-image">
                            <a class="pic-background" href="#">
                                <img class="pic" src="./img/products/furniture/20.png">
                            </a>
                            <ul class="social">
                                <li class="social-1"><a href="#">Quick View</a></li>
                                <li class="social-2"><a href="#"><i class="fas fa-shopping-basket"></i>add to
                                        cart</a></li>
                            </ul>
                            <span class="product-new-label">sale</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Aenean Ru Bristique</a></h3>
                            <div class="mx-auto my-3 line">
                                <div class="line-block"></div>
                            </div>
                            <ul class="rating">
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star star-click"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="product-content-footer d-flex justify-content-around">
                                <ul class="like d-flex">
                                    <li class="border border-dark p-2 mr-2"><a href="#"><i
                                                class="far fa-heart like-icon"></i></a></li>
                                    <li class="border border-dark p-2"><a href="#"><i
                                                class="fas fa-exchange-alt like-icon"></i></a></li>
                                </ul>
                                <div class="price p-2 text-light">$5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto mb-4 load-more"><i class="fas fa-sync-alt py-3 pl-3 load-more-icon"></i></div>
        </div>



        <div class="col-lg-3">
            <div class="d-none d-xl-block col-12">
                <div class="row">
                    <div class="col-12 sidebar">

                        <div class="filters__title text-uppercase pb-3">Filter By categories
                        </div>
                        <ul class="filter-by-color">
                            <li>
                                <div class="d-flex justify-content-between mt-3">
                                    <div class="filters-text d-flex justify-content-start font-weight-bold">
                                        <div class=""> &rsaquo;</div>
                                        <div class="ml-2"> Furniture</div>
                                    </div>
                                    <div class="filters-quant bg-dark text-light">3</div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between mt-3">
                                    <div class="filters-text d-flex justify-content-start font-weight-bold">
                                        <div class=""> &rsaquo;</div>
                                        <div class="ml-2"> Sofa </div>
                                    </div>
                                    <div class="filters-quant bg-dark text-light">4</div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between mt-3">
                                    <div class="filters-text d-flex justify-content-start font-weight-bold">
                                        <div class=""> &rsaquo;</div>
                                        <div class="ml-2">Chair</div>
                                    </div>
                                    <div class="filters-quant bg-dark text-light">5</div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between mt-3 ">
                                    <div class="filters-text d-flex justify-content-start font-weight-bold">
                                        <div class=""> &rsaquo;</div>
                                        <div class="ml-2">Table</div>
                                    </div>
                                    <div class="filters-quant bg-dark text-light">5</div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between mt-3 ">
                                    <div class="filters-text d-flex justify-content-start font-weight-bold">
                                        <div class=""> &rsaquo;</div>
                                        <div class="ml-2">Bedroom</div>
                                    </div>
                                    <div class="filters-quant bg-dark text-light">5</div>
                            </li>
                        </ul>
                        <!-- бегунок фильтра -->
                        <div class="filters__title text-uppercase pb-3 mt-4">Filter By Price</div>
                        <div class="slider-block mt-4">
                            <input type="range" multiple min="135" max="1000" value="1" id="myRange" class="slider">
                        </div>

                        
                        <div class="row d-flex justify-content-between mt-4">
                            <div class="col-3 text-center text-light p-2 slider-block-text">Filter</div>
                            <div class="col-5 border border-secondary text-center py-1">$38-$150</div>
                        </div>
                        <div class="filters__title text-uppercase pb-3 mt-4">Filter By color
                        </div>
                        <ul class="filter-color mt-4">
                            <li class="pb-1 filter-color-input">
                                <input id="check1" type="checkbox" name="check" value="check1">
                                <label class="filter-color-red" for="check1">Red</label>
                            </li>
                            <li class="pb-1 filter-color-input">
                                <input id="check2" type="checkbox" name="check" value="check2">
                                <label class="filter-color-black" for="check2">Black
                                </label>
                            </li>
                            <li class="pb-1 filter-color-input">
                                <input id="check3" type="checkbox" name="check" value="check3">
                                <label class="filter-color-yellow" for="check3">Yellow
                                </label>
                            </li>
                            <li class="pb-1 filter-color-input">
                                <input id="check4" type="checkbox" name="check" value="check4">
                                <label class="filter-color-blue" for="check4">Blue</label>
                            </li>
                            <li class="pb-1 filter-color-input">
                                <input id="check5" type="checkbox" name="check" value="check5">
                                <label class="filter-color-pink" for="check5">Pink
                                </label>
                            </li>
                            <li class="pb-1 filter-color-input">
                                <input id="check6" type="checkbox" name="check" value="check6">

                                <label class="filter-color-green" for="check6"> Green</label>

                            </li>
                        </ul>
                        <div class="filters__title text-uppercase pb-3 mt-4">Filter By size
                        </div>
                        <ul class="filters-size mt-4">
                            <li>
                                <div class="d-flex justify-content-between mt-1 ">
                                    <div class="form-check checkbox checkbox-danger">
                                        <label for="checkbox">
                                            <input type="checkbox" value="" id="checkbox">
                                            S
                                        </label>
                                    </div>

                                    <div class="filters-quant bg-dark text-light">3</div>

                            </li>
                            <li>
                                <div class="d-flex justify-content-between mt-1 ">
                                    <div class="form-check checkbox checkbox-danger">
                                        <label for="checkbox">
                                            <input type="checkbox" value="" id="checkbox">
                                            M
                                        </label>
                                    </div>
                                    <div class="filters-quant bg-dark text-light">4</div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between mt-1 ">
                                    <div class="form-check checkbox checkbox-danger">
                                        <label for="checkbox">
                                            <input type="checkbox" value="" id="checkbox">
                                            L
                                        </label>
                                    </div>
                                    <div class="filters-quant bg-dark text-light">5</div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between mt-1 ">
                                    <div class="form-check checkbox checkbox-danger">
                                        <label for="checkbox">
                                            <input type="checkbox" value="" id="checkbox">
                                            XL</label>
                                    </div>
                                    <div class="filters-quant bg-dark text-light">5</div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between mt-1 ">
                                    <div class="form-check checkbox checkbox-danger">
                                        <label for="checkbox">
                                            <input type="checkbox" value="" id="checkbox">
                                            XX
                                        </label>
                                    </div>
                                    <div class="filters-quant bg-dark text-light">5</div>
                            </li>
                        </ul>
                        <div class="filters__title text-uppercase pb-2 mt-4">Filter By tags</div>
                        <div class=" d-flex justify-content-start mt-4 text-secondary filter-by-tags">
                            <div
                                class="d-flex justify-content-around align-items-center filters-tags py-2">
                                <div class="ml-2">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                </div>
                                <div class="mx-2">
                                    <p>Table</p>
                                </div>
                            </div>
                            <div
                                class="d-flex justify-content-around align-items-center filters-tags ml-3 py-2">
                                <div class="ml-2">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                </div>
                                <div class="mx-2">
                                    <p>Chair</p>
                                </div>
                            </div>
                        </div>
                        <div class=" d-flex justify-content-start mt-4 text-secondary ">
                            <div
                                class="d-flex justify-content-around align-items-center filters-tags py-2">
                                <div class="ml-1">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                </div>
                                <div class="mx-1">
                                    <p>Hand Bag</p>
                                </div>
                            </div>
                            <div
                                class="d-flex justify-content-around align-items-center filters-tags ml-3 py-2">
                                <div class="ml-1">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                </div>
                                <div class="mx-1">
                                    <p>Women</p>
                                </div>
                            </div>
                        </div>
                        <div class=" d-flex justify-content-start mt-4 text-secondary ">
                            <div
                                class="d-flex justify-content-around align-items-center filters-tags py-2">
                                <div class="ml-1">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                </div>
                                <div class="mx-1">
                                    <p>Fashion</p>
                                </div>
                            </div>
                            <div
                                class="d-flex justify-content-around align-items-center filters-tags ml-3 py-2">
                                <div class="ml-1">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                </div>
                                <div class="mx-1">
                                    <p>Clothes</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>









    </div>
</div>