.email-section {
    font-family: $font-family;
}
.form-inline {
    background-color: #f2f2f2;
}
.email-form {
    width: 486px;
    height: 46px;
    margin: 52px 0;
}
.email-form:focus {
    outline-color: $base-color;
}
  
.email-icon {
    width: 19px;
    height: 15px;
    line-height: 26px;
    text-align: center;
    margin-right: -26px;
    position: relative;
    z-index: 1;
    float: left;
    left: 18px;
    padding-right: 19px;
    color: $base-color;
    position: relative;
    top: 83px;
}
  
.email-icon + .email-form {
    padding-left: 62px;
}
.form-text {
    font-weight: 600;
    font-size: 22px;
    color: $base-color;
    margin-top: 78px;
}
.email-button {
    height: 46px;
    max-width: 46px;
    background-color: #fff;
    color: $base-color;
    margin-top: 52px;
    border: none;
    outline: none;
    top: 14px;
}
.email-button:hover {
    background-color: $base-color;
    color: #fff;
}