.nav-link{
  font-size: 13px;
  font-weight: 500;
}

.text-underline:hover {
  padding-bottom: 4px;
  box-shadow: 0 1px 1px rgba(255,255,255,1)
}

.text-modal {
  &-header {
    font-size: 30px;
    color: #2a2a2a;
  }
  &-body {
    font-size: 14px;
    color: #676767;
  }
}

.close {
  font-size: 30px;
}
