.product-grid {
    width: 262px;
    margin: 0 auto;
}
.product-image {
    // width: 262px;
    box-sizing: border-box;
}
.product-title {
    font-size: 22px;
    border-bottom: 1px solid $secondary-color;
    position: relative;
    font-family: $font-family;
    font-weight: 600;
}
.products-filter {
    position: absolute;
    top: -4px;
    right: 15px;
}
.pic {
    // width: 262px;
    max-height: 260px;
    min-height: 260px;
    transform: scaleX(0.8);
}
.pic-background {
    background-color: #f4f5f7;
}
.line {
    width: 235px;
    height: 1px;
    background-color: $secondary-color;
    position: relative;
}
.line-block {
    width: 30px;
    height: 4px;
    background-color: $base-color;
    position: absolute;
    right: 103px;
    top: -2px;
}
.like i{
    color: #404040;
}
.price {
    font-size: 18px;
    background-color: $secondary-color;
}
.product-content-footer {
    margin-top: 12px;
}
.load-more {
    color: #404040;
    border-radius: 50px / 50px;
    background: #eeeeee;
    width: 50px;
    height: 50px; 
}


.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 19px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:auto}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;right: 30%;top: 86%;}
.product-grid .social{display:flex;justify-content: space-around;width: 100%;}
.product-grid .social a {text-decoration: none;}
.product-grid .social .social-1 a{color:#fff;background-color:#333;font-size:13px;line-height:37px;text-align:center;height:37px;width:87px;position:relative;transition:all .3s ease-in-out}
.product-grid .social .social-2 a{color:#fff;background-color:#333;font-size:13px;line-height:37px;text-align:center;height:37px;width:132px;position:relative;transition:all .3s ease-in-out; text-transform: uppercase;;}
.product-grid .social .social-2 a i{padding-right: 10px;}
.product-grid:hover .product-new-label{color:#fff;background-color:#2a2a2a;font-size:12px;display:block;position: relative;top:-265px;left:109px;width: 4em;height: 1.5em;border-radius: 0 0 50% 50% / 0 0 100% 100%;transition:all .3s ease 0s}
.product-grid:hover .price {background-color: $base-color;}
.product-grid .product-new-label {font-size: 0;}
.product-grid .rating{color: #2a2a2a;font-size:12px;margin:0;list-style:none;position:relative;margin-top: 11px;}
.product-grid .star-click {color: $base-color;}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;margin:0 auto;position: relative;;left:0;right:0;bottom:-8px;transition:all .3s}
.product-grid .title{font-size:16px;font-weight:400;text-transform:capitalize;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
.product-grid:hover .title a{color: $base-color; text-decoration: none;}
.product-grid .like li:hover {background-color: $base-color;}

// .product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
// .product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
// .product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}



