.sidebar {
    font-family: $font-family !important;
}
.filters__title {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #2a2a2a;
}
.filters-text {
    font-size: 13px;
}
.filters-quant {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    padding-left: 7px;
    padding-top: 4px;
}
.filter-by-color li:hover, .filter-color li:hover label, .filters-size li:hover label{
    color: $base-color;
}
.filter-by-color li:hover .filters-quant, .filters-size li:hover .filters-quant{
    background-color: $base-color !important;
}

.slider-block {
    width: 100%;
}
.slider {
    width: 100%;
    opacity: 0.8;
    transition: opacity 0.2s;
    border-radius: 12px;
}
.slider-block-text {
    background-color: $base-color;
    font-size: 14px;
}

.filter-color label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}
.filter-color label::before {
    content: "";
    display: inline-block;
                   
    width: 16px;
    height: 16px;
                   
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;       
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.filter-color-input input[type=checkbox] {
    display: none;
}

.filter-color li label::before {
    border-radius: 5px;
}
.filter-color-red::before {
    background-color: rgb(235, 18, 18);
}
.filter-color-black::before {
    background-color: black;
}
.filter-color-yellow::before {
    background-color: #e9e600;
}
.filter-color-blue::before {
    background-color: #0190d3;
}
.filter-color-pink::before {
    background-color: #f72fe4;
}
.filter-color-green::before {
    background-color: #14d400;
}
.filters-tags {
    border: 1px solid #b4b4b4;
}
.filters-tags:hover {
    color: $base-color;
    border: 1px solid $base-color;
}
