a {
    text-decoration: none !important;
}
.guest-room-sofa {
    max-width: 555px;
    background-image: url("../../../img/stocks/1.jpg");
    @include background-size-repeat;
    font-family: font-family;
}

.sofa-opacity {
    background-color: rgba(0,0,0,0.5) !important;
}
.guest-room {
    font-size: 36px;
    padding-top: 153px;
    font-size: 36px;
}
.sofa {
    font-size: 60px;
}
.sale {
    border-width: 5px !important;
    font-size: 50px;
}
.chair-block {
    background-color: #e8edf7;
    max-width: 555px;
    font-family: font-family;
    padding-bottom: 13px;
}

.special-block {
    background-color: #fbf3f7;
    max-width: 555px;
    padding-bottom: 75px;
}
.office , .chair{
    font-size: 30px !important;
    margin-top: 50px;
    z-index: 1;
}
.chair {
    font-weight: 300;
}
.collection {
    font-size: 18px;
    letter-spacing: 3.6px;
}
.sale-price {
    font-size: 36px;
    color: $base-color;
}
.stocks-img {
    transform: scaleX(-1.2);
}
.stocks-img-2 {
    transform: scale(1.3);
}
.special-block-yellow {
    color: $base-color;
    font-size: 24px;
    padding-top: 76px;
}
.save-money {
    font-family: font-family;
}
.stocks-img-bed {
    background-image: url("../../img/stocks/4.png");
    @include background-size-repeat;
    transform: scaleX(-1);
}

